<%= provide(:title, 'Detail') %>		
	<section id="booking">
	  <ul>      
      <li id="mobileReserve">Reserve A Room</li>
      <li id="bookingForm">
        <h2>When will you be staying with us?</h2>
        <input type="text" placeholder="Enter destination or hotel name" />
        <input type="text" placeholder="Arriving:" />
        <input type="text" placeholder="Leaving:" />
        <div id="rooms">
          <label for="roomSelect">Rooms:</label>
          <select id="roomSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div id="guests">
          <label for="guestSelect">Guests:</label>
          <select id="guestSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <a href="detail.html"><div id="search">Search</div></a>
      </li>
      <li id="nonMobileReserve">Reserve A Room</li>
    </ul>
  </section>

  <div id="second_nav_bar">
  	<%= link_to (image_tag ("second_nav.png"), :id => 'nav_desktop') %>
  	<%= link_to (image_tag ("second_nav_tablet.jpg"), :id => 'nav_tablet') %>
  	<%= link_to (image_tag ("second_nav_mobile.jpg"), :id => 'nav_mobile') %>
  </div>

  <section id="photo_details">
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  	<%= link_to (image_tag ("baseball_card.jpg"), :class => 'card') %>
  </section>