<%= provide(:title, 'Index') %>	
	<section id="booking">
	  <ul>
	    <li id="mobileReserve">Reserve A Room</li>
  		<li id="bookingForm">
    		<h2>When will you be staying with us?</h2>
    		<input type="text" placeholder="Enter destination or hotel name" />
    		<input type="text" placeholder="Arriving:" />
    		<input type="text" placeholder="Leaving:" />
    		<div id="rooms">
      		<label for="roomSelect">Rooms:</label>
      		<select id="roomSelect">
        		<option>1</option>
        		<option>2</option>
        		<option>3</option>
      		</select>
    		</div>
    		<div id="guests">
      		<label for="guestSelect">Guests:</label>
      		<select id="guestSelect">
        		<option>1</option>
        		<option>2</option>
        		<option>3</option>
      		</select>
    		</div>

    		<%= button_to "Search", detail_path %>

  		</li>
  		<li id="nonMobileReserve">Reserve A Room</li>
  	</ul>
	</section>

	<section id="photos">
		<%= link_to (image_tag ("photo1.jpg")) %>
		<%= link_to (image_tag ("photo2.jpg")) %>
		<%= link_to (image_tag ("photo3.jpg")) %>
		<%= link_to (image_tag ("photo4.jpg")) %>
		<%= link_to (image_tag ("photo5.jpg")) %>
		<%= link_to (image_tag ("photo6.jpg")) %>
		<%= link_to (image_tag ("photo7.jpg")) %>
		<%= link_to (image_tag ("photo8.jpg")) %>
		<%= link_to (image_tag ("photo9.jpg")) %>
		<%= link_to (image_tag ("photo10.jpg")) %>
		<%= link_to (image_tag ("photo11.jpg")) %>
		<%= link_to (image_tag ("photo12.jpg")) %>
	</section>